{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Title  -->
    <title>trendy trunk</title>

    <!-- Favicon  -->
    <link rel="icon" href="../static/img/core-img/trendy trunk logo.png">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
     <!-- paypal -->
     <script src="https://www.paypal.com/sdk/js?client-id=AW_7H2ode5MnJSLbPJj7gbhrb7Dx7K1UqTqWUPzWBXv3VibUch1sQ7h8wIMsOExwWm7khCGZ1Bu4gsCo&currency=USD"></script>

</head>

<body>
   <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/trendy trunk logo.png' %}" alt="" style="height: 75px;width: 130px;"></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="{% url 'shop' %}">Shop</a>
                                <div class="dropdown">
                                    <div class="dropdown">
                                        <ul class="single-mega cn-col-4">
                                          <li><a href="{% url 'shop' %}">All Products</a></li>
                                            {% for category in links %}
                                            <li><a href="{{category.get_url}}">{{category.category_name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                     </div>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <!-- signin/signout-->
            <div class="header-meta d-flex clearfix justify-content-end">
                {% if user.id is not None %}
                 <div class="user-login-info">
                    <a href="{% url 'logout' %}" style="color:#797575; font-family:sans-serif;font-weight: 510;">Logout</a>
                </div>
                {% else %}
                <div class="user-login-info">
                    <a href="{% url 'login' %}" style="color:#797575; font-family:sans-serif;font-weight: 510;">Login</a>
                </div>
                {% endif %}
                <!-- Search Area -->
                <div class="search-area">
                    <form action="{% url 'search' %}" method="GET">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <!-- Favourite Area -->
                <div class="favourite-area">
                    <a href="{% url 'wishlist' %}"><img src="{% static 'img/core-img/heart.svg' %}" alt=""><span>{{wishlistItems_count}}</a>
                </div>
                <!-- User Login Info -->
                <div class="user-login-info">
                    <a href="{% url 'user_account' %}"><img src="{% static 'img/core-img/user.svg' %}" alt=""></a>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="{% url 'cart' %}" id="essenceCartBtn"><img src="{% static 'img/core-img/bag.svg' %}" alt=""> <span>{{item_count}}</span></a>
                </div>
            </div>

        </div>
    </header> 
    <!-- ##### Header Area End ##### -->


    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image:  url({% static 'img/bg-img/breadcumb.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Payment</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
      <!-- ##### payment Area Start ##### -->
      <div class="checkout_area my-3">
        <div class="container">
                   <div class="order-details-confirmation">
                        <div class="cart-page-heading">
                            <h4>Bill</h4></div>
                        <ul class="order-details-form mb-4 col-12" style="border-top:1px solid #EBEBEB;">
                            <li><span>Total</span> <span>$ {{total}}</span></li>
                            <li><span>Tax</span> <span>$ {{tax}}</span></li>
                            <li><span>Grand Total</span> <span>${{grand_total}}</span></li>
                            <li><span>Order Note</span>
                                {% if order.order_note %}
                                <span>{{order.order_note}}</span></li>
                                {% endif %}
                            <li><span>Payment Method</span> <span>paypal</span></li>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col" class="fw-100">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col" class="text-center">Quantity</th>
                                  </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                    {% for i in cartItems %}
                                    <th scope="row"><img src="{{i.product.images.url}} " style="height:40px; width:40px;" alt=""></th>
                                    <td>{{i.product.product_name}}</td>
                                    <td>${{i.product.price}}</td>
                                    <td class="text-center">{{i.quantity}}</td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                          </table>  
                          <li style="border-top:1px solid #EBEBEB;"><span> Shipping Adress</span> <span >
                            {{order.first_name}} {{order.last_name}} <br>
                            {{order.adress_line_1}} <br>
                            {{order.phone}},{{order.email}} <br>
                            {{order.city}},{{order.state}} <br>
                            {{order.country}},{{order.postcode}} <br>
                        </span>
                    </li>               
                        </ul>
                        <!-- paypal buttons -->
                        <div id="paypal-button-container" class="text-center">
                            <!-- paypal buttons will load here -->
                            </div>  
                      </form>
                    </div>
                </div>  
            </div> 
    <!-- ##### payment Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="#"><img src="img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Payment Options</a></li>
                            <li><a href="#">Shipping and Delivery</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>Subscribe</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                <input type="email" name="mail" class="mail" placeholder="Your email here">
                                <button type="submit" class="submit"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

<div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>, distributed by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
            
        </div>


    </footer>
    <!-- ##### Footer Area End ##### -->
    <script>
        function getCookie(name){
            let cookieValue = null;
            if(document.cookie && document.cookie !== ''){
                const cookies = document.cookie.split(';');
                for(let i = 0; i<cookies.length; i++){
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0,name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var amount = "{{grand_total}}"
        var url = "{% url 'payment' %}"
        var csrftoken = getCookie('csrftoken');
        var orderID="{{order.order_number}}"
        var payment_method = 'paypal'
        paypal.Buttons({

           // Set up the transaction
           createOrder: function(data, actions) {
               return actions.order.create({
                   purchase_units: [{
                       amount: {
                           value: amount,
                       }
                   }]
               });
           },

           // Finalize the transaction
           onApprove: function(data, actions) {
               return actions.order.capture().then(function(orderData) {
                   // Successful capture! For demo purposes:
                   console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                   var transaction = orderData.purchase_units[0].payments.captures[0];
                   alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                   sendData();
                   function sendData(){
                    fetch(url,{
                        method : "POST",
                        headers:{
                          "Content-type":"application/json",
                          "X-CSRFToken":csrftoken,
                        },
                      body:JSON.stringify({
                        orderID:orderID,
                        transID:orderData.id,
                        payment_method:payment_method,
                        status:orderData.status,


                      }),

                    })
                    // .then(response => response.json())
                    // .then(data => console.log(data))
                   }


                   // Replace the above to show a success message within this page, e.g.
                   // const element = document.getElementById('paypal-button-container');
                   // element.innerHTML = '';
                   // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                   // Or go to another URL:  actions.redirect('thank_you.html');
               });
           }


       }).render('#paypal-button-container');
   </script>
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Classy Nav js -->
    <script src="{% static 'js/classy-nav.min.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

</body>

</html>